@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  font-family: "Oxygen", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

@media only screen and (min-width: 710px) {
  #hero {
    height: 75vh;
  }
}

@media only screen and (max-width: 710px) {
  #hero {
    height: 45vh;
  }
}

#hero h1 {
  margin-right: 5%;
}
#hero h2 {
  margin-right: 5%;
}

@media only screen and (min-width: 710px) {
  #hero h2 {
    font-size: 2.125em;
    text-align: end;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 710px) {
  #hero h2 {
    font-size: 1.125em;
    text-align: end;
    margin-top: 15%;
  }
}

@media only screen and (min-width: 710px) {
  #hero h1 {
    font-size: 8.5625em;
    font-weight: 1000;
    text-align: end;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 710px) {
  #hero h1 {
    font-size: 4.5625em;
    font-weight: 1000;
    text-align: end;
    margin-top: 5%;
  }
}

#hero img {
  width: 2.5em;
  margin-left: 8%;
  position: relative;
  bottom: 110px;
}

#about {
  display: flex;
  height: 95vh;
}

#about h2 {
  font-size: 2.8125em;
  font-weight: 800;
}

.vlabout {
  border-left: 4px solid white;
  height: 90%;
}
.about-left {
  text-align: right;
  width: 37%;
  padding: 4% 1%;
  margin-left: 23%;
}

@media only screen and (min-width: 1201px) {
  .about-left p {
    line-height: 160%;
    font-size: 1.875em;
  }
}

@media only screen and (min-width: 870px) and (max-width: 1200px) {
  .about-left p {
    line-height: 160%;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 869px) {
  .about-left p {
    line-height: 160%;
    font-size: 1.3em;
  }
}

.services-right {
  padding: 8% 1%;
}

@media only screen and (min-width: 1201px) {
  .services-right ul {
    font-size: 1.875em;
  }
}

@media only screen and (min-width: 870px) and (max-width: 1200px) {
  .services-right ul {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 869px) {
  .services-right ul {
    font-size: 1.3em;
  }
}

.services-right li {
  list-style: none;
  padding: 5% 0%;
}

@media only screen and (min-width: 710px) {
  #portfolio h1 {
    font-size: 8.5625em;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0% 0% 7% 10%;
  }
}

@media only screen and (max-width: 710px) {
  #portfolio h1 {
    font-size: 4.5625em;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0% 0% 7% 10%;
  }
}

#portfolio > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

#portfolio > div.reverse {
  flex-direction: row-reverse;
}

#portfolio h2 {
  color: white;
  width: 19%;
}

#portfolio h2 small {
  font-size: 50%;
}

#portfolio #line {
  background: white;
  height: 360px;
  margin: 0% 4%;
}

#portfolio img {
  width: 40%;
  height: auto;
}

.portfolios {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

#services .topline hr {
  margin-top: 12%;
  margin-bottom: 5%;
  width: 70%;
}

@media only screen and (min-width: 710px) {
  #services h1 {
    font-size: 8.5625em;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0% 15% 0% 21%;
  }
}

#services .servicesheading {
  display: flex;
  align-items: center;
}

#services .servicesheading img {
  height: 4em;
}

@media only screen and (max-width: 710px) {
  #services h1 {
    font-size: 4.5625em;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0% 41% 0% 21%;
  }
}

#services .bottomline {
  display: flex;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 8%;
}

#services .bottomline hr {
  width: 20%;
  margin-top: 2%;
}

#contacts {
  display: grid;
  grid-template-rows: 35% auto;
  grid-template-columns: 1fr 2px 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: "header header header" "left line right";
  margin-bottom: 10%;
}

#contacts h1 {
  grid-area: header;
  text-align: center;
  font-size: 2.8125em;
  font-weight: 700;
}

#social {
  grid-area: left;
}

#social img {
  width: 50px;
  height: 50px;
  padding: 0px 13px;
}

#line {
  border-left: 4px solid white;
  height: 350px;
}

#contact {
  grid-area: right;
  text-align: center;
}

#contact p {
  font-size: 1.5em;
  width: 310px;
}

#contact img {
  width: 55px;
  height: 55px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
