@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  background-color: #171717;
  color: white;
  font-family: "Oxygen", sans-serif;
}

section#nav {
}

section#hero {
}

section#about {
}

section#portfolio {
}

section#services {
}

section#contact {
}

section#footer {
}
