@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  background-color: #171717;
  color: white;
  font-family: "Oxygen", sans-serif;
}

img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#header {
}

section#hero {
}

section#about {
}

section#portfolio {
}

section#services {
}

section#contact {
}

article left {
}

article right {
}

section#footer {
}
